*~
*.swp
*.pyc
*.patch
*.bak
*.tmp
*.o
*.a
*.so
*.orig
*.swo
*.swp
*.swn
*.swm
*.log
*.wgt
/.project
/.cproject
/.pydevproject
/.settings
/test/.build
/test/.rds_delta
/test/.sdk_delta.info
/test/.settings
/test/.sign
/sample/.build
/sample/.rds_delta
/sample/.sdk_delta.info
/sample/.settings
/sample/.sign
