body {
	background-color: #002b36; /* solarized-base03 */
}

p {
    color: #eee8d5; /* solarized-base2 */	
}

div#everything {
	background-color: #073642; /* solarized-base02 */
	border: 1px solid #839496; /* one pixel wide border, solarized-base0 */
}

div#top {
	/* no rules needed yet. */
}

#top h1 {
	color: #cb4b16; /* solarized-orange */
}

#top h2 {
	color: #fdf6e3; /* solarized-base3 */
}

div#right_column {
	
}

a.normal, a:visited.normal {
	color: #eee8d5; /* solarized-base2 */
	background: transparent url('../images/button_normal_night.png') no-repeat;
}

/* these rules are common for EVERY special-class button: */
a.special, a:visited.special {
	/* this color should remain the same as in "colors.css" stylesheet: base02 */
	/* color: #eee8d5; /* solarized-base2 */
	color: #073642; /* solarized-base02 */
}

a.special.red, a:visited.special.red {
	background: transparent url('../images/button_specialA.png') no-repeat;
}

a.special.green, a:visited.special.green {
	background: transparent url('../images/button_specialB.png') no-repeat;
}

a.special.yellow, a:visited.special.yellow {
	background: transparent url('../images/button_specialC.png') no-repeat;
}

a.special.blue, a:visited.special.blue {
	background: transparent url('../images/button_specialD.png') no-repeat;
}

a.active, a:visited.active {
	color: #fdf6e3; /* solarized-base3 */
	background: transparent url('../images/button_active.png') no-repeat;
}

a:hover, a:visited:hover {
	background: transparent url('../images/button_hover.png') no-repeat;
}

#resultsLog {
	color: #93a1a1; /* solarized-base1 */
}

div#footer p{
	color: #657b83; /* solarized-base00 */
}

/* colors:
color: #002b36; / solarized-base03 /
color: #073642; / solarized-base02 /
color: #586e75; / solarized-base01 /
color: #657b83; / solarized-base00 /
color: #839496; / solarized-base0 /
color: #93a1a1; / solarized-base1 /
color: #eee8d5; / solarized-base2 /
color: #fdf6e3; / solarized-base3 /
color: #b58900; / solarized-yellow /
color: #cb4b16; / solarized-orange /
color: #dc322f; / solarized-red /
color: #d33682; / solarized-magenta /
color: #6c71c4; / solarized-violet /
color: #268bd2; / solarized-blue /
color: #2aa198; / solarized-cyan /
color: #859900; / solarized-green /
*/